* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.search {
    display: block;
    width: calc(100% - 40px);
    max-width: calc(900px - 40px);
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    height: 25px;
    border: 1px solid #586f64;
    padding: 0 10px;
}

.search-match {
    background: yellow;
}

#content {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.section__theme {
    margin-bottom: 10px;
}

.section__theme-title {
    font-size: 18px;
    background: rgb(204, 221, 213);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.section__theme-progress {
    font-size: 14px;
    font-weight: bold;
    background: #688075;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    margin-left: 5px;
}

.section__theme-confirmation-status {
    font-size: 12px;
    background: #688075;
    color: white;
    padding: 2px 5px;
    border-radius: 0 5px 0 5px;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.section__theme-confirmation-status:empty {
    display: none;
}

.section__theme-progress::after {
    content: '%';
}

.section__theme-title:hover {
    background: rgb(194, 210, 202);
}

.section__theme-content {
    padding-top: 20px;
}

.section__theme-bulk-confirmation {
    margin-bottom: 15px;
    margin-left: auto;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: #688075;
    color: white;
}

.section__theme-bulk-confirmation:hover {
    background: #4d6058;
}

.section__question {
    margin-bottom: 30px;
}

.section__question_learnt {
    max-height: 21px;
    overflow: hidden;
    margin-bottom: 5px;
}

.section__question-sibling {
    background-color: #488796;
    color: white;
    padding: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
}

.section__question-solution {
    flex-shrink: 0;
    margin-left: 5px;
    cursor: pointer;
    color: #d1d1d1;
    border: 2px solid #d1d1d1;
    border-radius: 5px 5px 20px 20px;
    width: 20px;
    height: 20px;
    position: static;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
}

.section__question-solution:hover {
    color: #b0b0b0;
    border-color: #b0b0b0;
}

.section__question-confirmation {
    flex-shrink: 0;
    font-size: 14px;
    margin-left: 5px;
    color: #d1d1d1;
    cursor: default;
    border: 2px solid #d1d1d1;
    border-radius: 5px 5px 20px 20px;
    width: 20px;
    height: 20px;
    position: static;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
}

.section__question-confirmation:not(.section__question-confirmation_confirmed):hover {
    color: #b0b0b0;
    border-color: #b0b0b0;
}

.section__question-confirmation_confirmed {
    border-color: #688075;
    background: #688075;
    color: white;
}

.section__question-confirmation_pointer {
    cursor: pointer;
}

.section__question-header {
    font-weight: bold;
    display: flex;
}

.section__question-number {
    flex-shrink: 0;
}

.section__question_learnt .section__question-header-content {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
}

.section__question_learnt .section__question-text-with-siblings {
    flex-grow: 1;
    opacity: .3;
}

.section__question-options {
    margin-top: 15px;
}

.section__question-option {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.section__question_revealed .section__question-option_clicked {
    color: red;
}
.section__question_revealed .section__question-option_answer {
    color: rgb(0, 212, 0);
}

.section__question-radio {
    flex-shrink: 0;
    margin-left: 18px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.section__question-img {
    flex-shrink: 0;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    width: calc(100% - 18px);
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.section__question_revealed .section__question-option_clicked .section__question-img {
    box-shadow: 0 0 5px red;
}

.section__question_revealed .section__question-option_answer .section__question-img {
    box-shadow: 0 0 5px rgb(0, 212, 0);
}

.solution-modal {
    position: fixed;
    color: white;
    padding: 20px;
    background: rgba(0,77,90, .9);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    line-height: 24px;
    overflow-y: auto;
}

.solution-modal .title-big {
    margin-bottom: 10px;
}